<section style="margin-top: 10px; margin-bottom: 10px; box-sizing: border-box;">
    <blockquote
            style="padding: 5px 15px; color: rgb(255, 255, 255); line-height: 25px; font-weight: bold; border-radius: 5px 5px 0px 0px; border: 0px; box-sizing: border-box; background-color: rgb(76, 111, 243);">
        点亮三盏心灯
    </blockquote>
    <blockquote
            style="padding: 10px 15px 20px; border-radius: 0px 0px 5px 5px; border: 0px; line-height: 25px; box-sizing: border-box; background-color: rgb(239, 239, 239);">
        <p style="white-space: normal;"><span style="font-size: 14px;">你已经开始知道，世界不都是美的。有偷小孩的坏人，有治不好的疾病，还有雾霾里灰蒙蒙的天空。从一开始，我就没打算让你生活在我围起的伊甸园里。你喜欢航天、喜欢星星，你就知道，看起来很美的东西，走进去有多残酷。</span>
        </p>
        <p style="white-space: normal;"><br></p>
        <p style="white-space: normal;"><span style="font-size: 14px;">月亮的晚上那么冷那么冷。玉兔月球车看着太阳沉下去，该有多么孤单。世界本来就是这样，我们能改变的是那么少。但是，有一点我们可以改变——我们心里的世界。我们始终要有一颗明亮的心来装这个世界。不然，我们就迷路啦！可是心怎么亮起来呢？让我们一起来点亮心里的灯。</span>
        </p>
        </blockquote>
</section>